@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1{
    
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 40px;
}

body{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    user-select: none;
}
  
body, html {
    margin: 0;
    padding: 0;
    height: 90%;
}

#add{
    position: fixed;
    margin-top: 130%;
    background-color: rgb(33, 179, 0);
    height: 40px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 5%;
    font-size: 25px;
    width: 90%;
    box-shadow: rgb(24, 131, 1) 4px 4px;
    border: 2px solid rgb(33, 179, 0);
    border-radius: 10px;
    z-index: 1;
}
#add:active{
    transform: translate(4px, 4px);
    box-shadow: rgb(24, 131, 1) 0px 0px;
}

#task{
    display: none;
    position: absolute;
    width: 75%;
    height: 300px;
    border-radius: 5px;
    left: 50px;
    border-radius: 5px;
    background-color: #05A4D6;

    top: 100px;
    z-index: 1;
    transition: all 0.5s;
}

#titlet{
    margin-top: 20px;
}

#desct, #titlet{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 80%;
    margin-left: 16px;
    background-color: #208acb;
    border: 3px solid transparent;
    margin-top: 1em;
    word-break: break-word;
    
}


#desct{
    margin-top: 5px;
    height: 80px;
}

#close{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 10px;
}
#option{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 10px;
    text-shadow: 1px 1px #111;
    display: block;
}
#taskmain{
    filter: brightness(100%);
}

#create{
    background-color: rgb(33, 179, 0);
    margin-right: 20px;
    margin-top: 10px;
    height: 40px;
    border: 2px solid transparent;
    width: 100px;
    box-shadow: rgb(24, 131, 1) 2px 2px;
    border-radius: 10px;
    float: right;
    font-family: 'Roboto', sans-serif;
    color: white;
    
}
.task_add{
    margin-left: 35px;
    margin-top: 20px;
    border: transparent 2px solid;
    border-radius: 7px;
    height: 120px;
    width: 85%;
}
p{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 60px;
    font-size: 15px;
}

.contain {
    cursor: pointer;
    
  }
  
  .contain input {
    display: none;
  }
  
  .contain svg {
    overflow: visible;
    margin-left: 10px;
    margin-top: 30px;
  }
  
  .path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }
  
  .contain input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }
  
#prioritizetxt, #colortxt{
    float: right;
    margin-top: 5px;
}

#color{
    border-radius: 5px;
}
.options{
    
    display: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 10px;
}
#prioritize{
    height: 20px;
    width: 20px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    margin-bottom: 9%; /* Espacement entre les groupes */
  }

  .input-group2{
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
  }

  .input-group label {
    margin-right: 10px; /* Espacement entre le label et l'input */
  }

#title_task{
    margin-top: -50px;
}
#desc_task{
    color:  #a1a1a1;
}
#warning{
    display: none;
    position: absolute;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 10px;
    top: 40%;
    left: 10%;
    width: 80%;
    background: linear-gradient(#292929,#191919, #111);
}
#warn, #warntxt{
    margin-left: 10px;
}
.main {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px; /* Height of the navbar */

}

    .navbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        font-family: 'Roboto', sans-serif;
    height: 50px; /* Adjust based on your navbar's height */
    background-color: #333; /* Example background color */
    /* Other styling */
}
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: -2%;
    border-radius: 10pc;
    
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: #208acb;
    color: white;
  }
  .content-wrap {
    flex: 1;
}

.navbar {
    width: 100%;
    height: 50px; /* Adjust based on your navbar's height */
    background-color: #333; /* Example background color */
    /* Other styling */
}

#bin{
    height: 50px;
    float: right;
  margin-top: -50px;
}
#container{
    padding-bottom: 20em;
}

.help{
    display: none;
    position: absolute;
    border-radius: 7px;
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 12%, rgba(9,9,121,1) 32%, rgba(2,159,220,1) 57%, rgba(1,181,234,1) 81%, rgba(1,184,236,1) 94%);
    width: 90%;
    left: 5%;
    z-index: 2;
    top: 10%;
    
}

#redirect{
    border-radius: 10px;
    background-color: green;
    border: transparent;
    color: white;
    height: 40px;
    width: 70%;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
}