@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');




#wrapper {
    position: relative;
    width: 100%;
    height: 200px;
    margin-left: 5%;
}

#backdrop, #textArea {
    width: 75%;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 7px;
    
    height: 35em;
    font-family: 'Roboto', sans-serif;/* Ensure matching fonts and sizes */
    font-size: 16px;
    line-height: 200%;
}

#textArea {
    background-color: transparent;
    border: 1px solid #ccc;
    resize: none;
    overflow: auto;
    line-height: 200%;

}

#backdrop {
    color: transparent; /* Make text invisible */
    overflow: hidden;
}


  
  .graph-paper{
    background-color: #e5e5f7;
    opacity: 0.4;
    background-size: 32px 32px;
    background-image:  repeating-linear-gradient(0deg, #000abe, #000abe 1.6px, #e5e5f7 1.6px, #e5e5f7);
  }

  button{
    border-radius: 7px;
    font-family: 'Roboto', sans-serif;
    height: 60px;
    width: 80px;
  }

  #options{
    display: none;
    border: 3px solid #fff;
    border-radius: 7px;
    position: absolute;
    top: 35%;
    left: 2%;
    z-index: 2;
    text-align: center;
    background-color: #313131;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 85%;
  }
  #color{
    height: 30px;
    width: 50px;

  }
